extends  ../../layout/layout

block variables
  -
    let title = 'index Page'
block content
  .content
    h1.title Календарь выхода настольных игр 2023
    include ./components/indexGrid/indexGrid

