@import 'src/css/app.variables.scss';
.welcome-module {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  min-height: 100vh;
  background: url('../../assets/images/main-bg.png') 50% 70% no-repeat;
  background-size: cover;
  padding: 4rem;
  &__logo-block {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__logo {
    width: 30rem;
    height: 18rem;
    background: url('../../assets/icons/main-logo.svg') 50% 50% no-repeat;
    background-size: contain;
  }
}
