footer.footer
  .footer__data
    .footer__copyright © 2023—2024 Dicefest
    a.footer__policy Политика конфиденциальности
  .footer__links 
    a.footer__link.footer__link--youtube
    a.footer__link.footer__link--vk
    a.footer__link.footer__link--telegram

