-
    const gamesList = [
        {
          title: 'игра 1',
          date: 'сентябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-1'
        },
        {
          title: 'игра 2',
          date: 'сентябрь 2023',
          image: 'https://images.unsplash.com/photo-1618588507085-c79565432917?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmVhdXRpZnVsJTIwbmF0dXJlfGVufDB8fDB8fHww&w=1000&q=80',
          size: 'horizontal',
          attribute: 'filter-1'
        },
        {
          title: 'игра 3',
          date: 'сентябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-1'
        },
        {
          title: 'игра 4',
          date: 'сентябрь 2023',
          image: 'https://w0.peakpx.com/wallpaper/960/845/HD-wallpaper-nature-landscape-landscape-nature-thumbnail.jpg',
          size: 'vertical',
          attribute: 'filter-1'
        },           
        {
          title: 'игра 5',
          date: 'ноябрь 2023',
          image: 'https://images.unsplash.com/photo-1618588507085-c79565432917?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmVhdXRpZnVsJTIwbmF0dXJlfGVufDB8fDB8fHww&w=1000&q=80',
          size: 'horizontal',
          attribute: 'filter-3'
        },
        {
          title: 'игра 6',
          date: 'ноябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-3'
        },
        {
          title: 'игра 7',
          date: 'октябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-2'
        },
        {
          title: 'игра 8',
          date: 'сентябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-1'
        },  
        {
          title: 'игра 9',
          date: 'сентябрь 2023',
          image: 'https://w0.peakpx.com/wallpaper/960/845/HD-wallpaper-nature-landscape-landscape-nature-thumbnail.jpg',
          size: 'vertical',
          attribute: 'filter-1'
        },       
        {
          title: 'игра 10',
          date: 'октябрь 2023',
          image: 'https://w0.peakpx.com/wallpaper/960/845/HD-wallpaper-nature-landscape-landscape-nature-thumbnail.jpg',
          size: 'vertical',
          attribute: 'filter-2'
        },    
        {
          title: 'игра 11',
          date: 'октябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-2'
        },
        {
          title: 'игра 12',
          date: 'октябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-2'
        },
        {
          title: 'игра 13',
          date: 'ноябрь 2023',
          image: 'https://w0.peakpx.com/wallpaper/960/845/HD-wallpaper-nature-landscape-landscape-nature-thumbnail.jpg',
          size: 'vertical',
          attribute: 'filter-3'
        },           
        {
          title: 'игра 14',
          date: 'сентябрь 2023',
          image: 'https://images.unsplash.com/photo-1618588507085-c79565432917?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmVhdXRpZnVsJTIwbmF0dXJlfGVufDB8fDB8fHww&w=1000&q=80',
          size: 'horizontal',
          attribute: 'filter-1'
        },      
        {
          title: 'игра 15',
          date: 'октябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-2'
        },
        {
          title: 'игра 16',
          date: 'ноябрь 2023',
          image: 'https://images.unsplash.com/photo-1618588507085-c79565432917?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmVhdXRpZnVsJTIwbmF0dXJlfGVufDB8fDB8fHww&w=1000&q=80',
          size: 'horizontal',
          attribute: 'filter-3'
        },
        {
          title: 'игра 17',
          date: 'сентябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-1'
        },
        {
          title: 'игра 18',
          date: 'октябрь 2023',
          image: 'https://w0.peakpx.com/wallpaper/960/845/HD-wallpaper-nature-landscape-landscape-nature-thumbnail.jpg',
          size: 'vertical',
          attribute: 'filter-2'
        },    
        {
          title: 'игра 19',
          date: 'октябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-2'
        },
        {
          title: 'игра 20',
          date: 'октябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-2'
        },
        {
          title: 'игра 21',
          date: 'сентябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-1'
        },
        {
          title: 'игра 22',
          date: 'октябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-2'
        },
        {
          title: 'игра 23',
          date: 'сентябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-1'
        },
        {
          title: 'игра 24',
          date: 'октябрь 2023',
          image: 'https://w0.peakpx.com/wallpaper/960/845/HD-wallpaper-nature-landscape-landscape-nature-thumbnail.jpg',
          size: 'vertical',
          attribute: 'filter-2'
        },    
        {
          title: 'игра 25',
          date: 'сентябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-1'
        },
        {
          title: 'игра 10',
          date: 'октябрь 2023',
          image: 'https://w0.peakpx.com/wallpaper/960/845/HD-wallpaper-nature-landscape-landscape-nature-thumbnail.jpg',
          size: 'vertical',
          attribute: 'filter-2'
        },    
        {
          title: 'игра 11',
          date: 'октябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-2'
        },
        {
          title: 'игра 12',
          date: 'октябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-2'
        },
        {
          title: 'игра 13',
          image: 'https://w0.peakpx.com/wallpaper/960/845/HD-wallpaper-nature-landscape-landscape-nature-thumbnail.jpg',
          size: 'vertical',
          attribute: 'filter-3'
        },           
        {
          title: 'игра 14',
          date: 'сентябрь 2023',
          image: 'https://images.unsplash.com/photo-1618588507085-c79565432917?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmVhdXRpZnVsJTIwbmF0dXJlfGVufDB8fDB8fHww&w=1000&q=80',
          size: 'horizontal',
          attribute: 'filter-1'
        },      
        {
          title: 'игра 15',
          date: 'октябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-2'
        },
        {
          title: 'игра 16',
          date: 'ноябрь 2023',
          image: 'https://images.unsplash.com/photo-1618588507085-c79565432917?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmVhdXRpZnVsJTIwbmF0dXJlfGVufDB8fDB8fHww&w=1000&q=80',
          size: 'horizontal',
          attribute: 'filter-3'
        },
        {
          title: 'игра 17',
          date: 'сентябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-1'
        },
        {
          title: 'игра 18',
          date: 'октябрь 2023',
          image: 'https://w0.peakpx.com/wallpaper/960/845/HD-wallpaper-nature-landscape-landscape-nature-thumbnail.jpg',
          size: 'vertical',
          attribute: 'filter-2'
        },    
        {
          title: 'игра 19',
          date: 'октябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-2'
        },
        {
          title: 'игра 20',
          date: 'октябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-2'
        },
        {
          title: 'игра 21',
          date: 'сентябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-1'
        },
        {
          title: 'игра 22',
          date: 'октябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-2'
        },
        {
          title: 'игра 23',
          date: 'сентябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-1'
        },
        {
          title: 'игра 24',
          date: 'октябрь 2023',
          image: 'https://w0.peakpx.com/wallpaper/960/845/HD-wallpaper-nature-landscape-landscape-nature-thumbnail.jpg',
          size: 'vertical',
          attribute: 'filter-2'
        },    
        {
          title: 'игра 25',
          date: 'сентябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-1'
        },
          {
          title: 'игра 18',
          date: 'октябрь 2023',
          image: 'https://w0.peakpx.com/wallpaper/960/845/HD-wallpaper-nature-landscape-landscape-nature-thumbnail.jpg',
          size: 'vertical',
          attribute: 'filter-2'
        },    
        {
          title: 'игра 19',
          date: 'октябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-2'
        },
        {
          title: 'игра 20',
          date: 'октябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-2'
        },
        {
          title: 'игра 21',
          date: 'сентябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-1'
        },
        {
          title: 'игра 22',
          date: 'октябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-2'
        },
        {
          title: 'игра 23',
          date: 'сентябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-1'
        },
        {
          title: 'игра 24',
          date: 'октябрь 2023',
          image: 'https://w0.peakpx.com/wallpaper/960/845/HD-wallpaper-nature-landscape-landscape-nature-thumbnail.jpg',
          size: 'vertical',
          attribute: 'filter-2'
        },    
        {
          title: 'игра 25',
          date: 'сентябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-1'
        },
          {
          title: 'игра 18',
          date: 'октябрь 2023',
          image: 'https://w0.peakpx.com/wallpaper/960/845/HD-wallpaper-nature-landscape-landscape-nature-thumbnail.jpg',
          size: 'vertical',
          attribute: 'filter-2'
        },    
        {
          title: 'игра 19',
          date: 'октябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-2'
        },
        {
          title: 'игра 20',
          date: 'октябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-2'
        },
        {
          title: 'игра 21',
          date: 'сентябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-1'
        },
        {
          title: 'игра 22',
          date: 'октябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-2'
        },
        {
          title: 'игра 23',
          date: 'сентябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-1'
        },
        {
          title: 'игра 24',
          date: 'октябрь 2023',
          image: 'https://w0.peakpx.com/wallpaper/960/845/HD-wallpaper-nature-landscape-landscape-nature-thumbnail.jpg',
          size: 'vertical',
          attribute: 'filter-2'
        },    
        {
          title: 'игра 25',
          date: 'сентябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-1'
        },
          {
          title: 'игра 18',
          date: 'октябрь 2023',
          image: 'https://w0.peakpx.com/wallpaper/960/845/HD-wallpaper-nature-landscape-landscape-nature-thumbnail.jpg',
          size: 'vertical',
          attribute: 'filter-2'
        },    
        {
          title: 'игра 19',
          date: 'октябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-2'
        },
        {
          title: 'игра 20',
          date: 'октябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-2'
        },
        {
          title: 'игра 21',
          date: 'сентябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-1'
        },
        {
          title: 'игра 22',
          date: 'октябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-2'
        },
        {
          title: 'игра 23',
          date: 'сентябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-1'
        },
        {
          title: 'игра 24',
          date: 'октябрь 2023',
          image: 'https://w0.peakpx.com/wallpaper/960/845/HD-wallpaper-nature-landscape-landscape-nature-thumbnail.jpg',
          size: 'vertical',
          attribute: 'filter-2'
        },    
        {
          title: 'игра 25',
          date: 'сентябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-1'
        },
          {
          title: 'игра 18',
          date: 'октябрь 2023',
          image: 'https://w0.peakpx.com/wallpaper/960/845/HD-wallpaper-nature-landscape-landscape-nature-thumbnail.jpg',
          size: 'vertical',
          attribute: 'filter-2'
        },    
        {
          title: 'игра 19',
          date: 'октябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-2'
        },
        {
          title: 'игра 20',
          date: 'октябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-2'
        },
        {
          title: 'игра 21',
          date: 'сентябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-1'
        },
        {
          title: 'игра 22',
          date: 'октябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-2'
        },
        {
          title: 'игра 23',
          date: 'сентябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-1'
        },
        {
          title: 'игра 24',
          date: 'октябрь 2023',
          image: 'https://w0.peakpx.com/wallpaper/960/845/HD-wallpaper-nature-landscape-landscape-nature-thumbnail.jpg',
          size: 'vertical',
          attribute: 'filter-2'
        },    
        {
          title: 'игра 25',
          date: 'сентябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-1'
        },
          {
          title: 'игра 18',
          date: 'октябрь 2023',
          image: 'https://w0.peakpx.com/wallpaper/960/845/HD-wallpaper-nature-landscape-landscape-nature-thumbnail.jpg',
          size: 'vertical',
          attribute: 'filter-2'
        },    
        {
          title: 'игра 19',
          date: 'октябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-2'
        },
        {
          title: 'игра 20',
          date: 'октябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-2'
        },
        {
          title: 'игра 21',
          date: 'сентябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-1'
        },
        {
          title: 'игра 22',
          date: 'октябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-2'
        },
        {
          title: 'игра 23',
          date: 'сентябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-1'
        },
        {
          title: 'игра 24',
          date: 'октябрь 2023',
          image: 'https://w0.peakpx.com/wallpaper/960/845/HD-wallpaper-nature-landscape-landscape-nature-thumbnail.jpg',
          size: 'vertical',
          attribute: 'filter-2'
        },    
        {
          title: 'игра 25',
          date: 'сентябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-1'
        },
          {
          title: 'игра 18',
          date: 'октябрь 2023',
          image: 'https://w0.peakpx.com/wallpaper/960/845/HD-wallpaper-nature-landscape-landscape-nature-thumbnail.jpg',
          size: 'vertical',
          attribute: 'filter-2'
        },    
        {
          title: 'игра 19',
          date: 'октябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-2'
        },
        {
          title: 'игра 20',
          date: 'октябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-2'
        },
        {
          title: 'игра 21',
          date: 'сентябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-1'
        },
        {
          title: 'игра 22',
          date: 'октябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-2'
        },
        {
          title: 'игра 23',
          date: 'сентябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-1'
        },
        {
          title: 'игра 24',
          date: 'октябрь 2023',
          image: 'https://w0.peakpx.com/wallpaper/960/845/HD-wallpaper-nature-landscape-landscape-nature-thumbnail.jpg',
          size: 'vertical',
          attribute: 'filter-2'
        },    
        {
          title: 'игра 25',
          date: 'сентябрь 2023',
          image: 'https://media.istockphoto.com/id/1322123064/photo/portrait-of-an-adorable-white-cat-in-sunglasses-and-an-shirt-lies-on-a-fabric-hammock.jpg?s=612x612&w=0&k=20&c=-G6l2c4jNI0y4cenh-t3qxvIQzVCOqOYZNvrRA7ZU5o=',
          size: 'normal',
          attribute: 'filter-1'
        }                                                                         
    ]

block content
