.index-grid {
  &__options {
    margin-bottom: 3.2rem;
  }
  &__layout {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  &__content {
    width: calc(100% + 1.6rem);
    margin-left: -0.8rem;
  }
}

@include minMediaTablet {
  .index-grid {
    &__content {
      width: calc(100% + 2.4rem);
      margin-left: -1.2rem;
    }
  }
}