
.index-grid-item{
  display: block;
  position: absolute;
  width: 15.6rem;
  height: 15.6rem;
  margin: 0.8rem;
  z-index: 1;
  cursor: pointer;

  &._horizontal {
    width: 32.28rem;
  }
  &._vertical {
    height: 32.8rem;
  }
  &:hover {
    z-index: 3;
  }
  &._hover-index {
    z-index: 2;
  }

  &.muuri-item-dragging {
    z-index: 3;
  }
  &.muuri-item-releasing {
    z-index: 2;
  }
  &.muuri-item-hidden {
    z-index: 0;
  }

  &__card {
    position: relative;
    transition: transform $showHideTransition;
    width: 100%;
    height: 100%;
    ._hover & {
      transform: scale(1.2);
      transition: transform $showHideTransition;
    }
    ._hover-leave & {
      transform: scale(1.2);
      transition: transform $showHideTransition;
    }    
  }


  &__content {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 2.4rem;
  }
  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 2.4rem;
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 1.6rem;
    z-index: 2;
    background: $bgDark;
    border: 1px solid $primaryOrange;
    border-radius: 2.4rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity $showHideTransition, visibility $showHideTransition;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    ._hover-text & {
      opacity: 1;
      visibility: visible;
    }
  }
  &__overlay-text {
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-top: auto;
    color: $cWhite;
  }
  &__overlay-date {
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 700;
    color: $cWhite;
  }
}

@include minMediaTablet {
  .index-grid-item {
    width: calc(100vw * 0.21);
    height: calc(100vw * 0.21);
    margin: calc(100vw * 0.016);
  
    &._horizontal {
      width: calc(100vw * 0.436);
    }
    &._vertical {
      height: calc(100vw * 0.436);
    }
  }
}

@include minMediaDesktop {
  .index-grid-item {
    width: 14rem;
    height: 14rem;
    margin: 1.2rem;
    ._maximized & {
      width: 14rem;
      height: 14rem;
      &._horizontal {
        width: 30.4rem;
      }
      &._vertical {
        height: 30.4rem;
      }    
    }
  
    &._horizontal {
      width: 30.4rem;
    }
    &._vertical {
      height: 30.4rem;
    }
  }
}

@include minMediaMaxDesktop {
  .index-grid-item {
    width: 42.4rem;
    height: 42.4rem;
    ._maximized & {
      width: 20rem;
      height: 20rem;
      &._horizontal {
        width: 42.4rem;
      }
      &._vertical {
        height: 42.4rem;
      }    
    }
  
    &._horizontal {
      width: 87.2rem;
    }
    &._vertical {
      height: 87.2rem;
    }
    &__overlay {
      padding: 3.2rem 4rem;
    }
    &__overlay-text {
      font-size: 3.2rem;
      line-height: 3.6rem;
    }
    &__overlay-date {
      font-size: 1.6rem;
      line-height: 1.8rem;
    }
  }
}
