// ----------FONTS
$primaryFont: 'Nunito', sans-serif;

// ----------BREAKPOINTS
$mobileBreakpoint: 360;
$tabletBreakpoint: 768;
$desktopBreakpoint: 1024;
$averageDesktopBreakpoint: 1360;
$wideDesktopBreakpoint: 1920;

$mediaTablet: '(min-width: #{ $tabletBreakpoint })';
$mediaDesktop: '(min-width: #{ $desktopBreakpoint })';
$mediaWideDesktop: '(min-width: #{ $wideDesktopBreakpoint })';

// ----------COLORS
$cWhite: #ffffff;
$cRed: #DE3163;
$cBlue: #31bade;
$cGray: #B6B6B6;
$cGrayDark: #55525A;
$cGrayHover: #87868a;

$primaryDark: #0C0913;
$primaryOrange: #FFA024;
$primaryHover: #F37914;

$bgDark: rgba(28,24,35, 0.9);


$showHideTransition: .3s ease-in-out;
$changeTransition: .15s ease-in-out;


// ----------SIZES
$headerHeight: 6.5rem;
$footerHeight: 2.5rem;

