-
    const menu = [
        {
            label: 'Youtube',
            link: '#',
            isActive: true,
        },
        {
            label: 'О нас',
            link: '#',
            isActive: false,
        },
        {
            label: 'Контакты',
            link: '#',
            isActive: false,
        },
    ]
block content
