extends constants
block content
    header.header.j-header
        .header__wrapper
          .header__logo
          .header__menu
            include ./components/headerMenu/headerMenu
          .header__buttons
            .header__profile
            .header__burger
              include ./components/headerBurger/headerBurger
