
block content
  .index-grid-filter._desktop
    .index-grid-filter__option.j-grid-filter-all._selected Все
    .index-grid-filter__option.j-grid-filter(data-filter='filter-1') Фильтр 1
    .index-grid-filter__option.j-grid-filter(data-filter='filter-2') Фильтр 2
    .index-grid-filter__option.j-grid-filter(data-filter='filter-3') Фильтр 3

